/* stylelint-disable @stylistic/selector-list-comma-newline-after */

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -80px; /* Отрицательное значение высоты footer'а */
}

.footer, .push {
    height: 80px; /* .push и .footer должны быть одинаковой высоты */
    clear: both;
}

.box {
    text-align: -webkit-auto;
    height: 450px;
    width:450px;
    line-height: 24px;
}

.sm_btn {
    width: 200px;
    align-self: center;
}

.text_align {
    padding-left: 5px;
}

.text_button {
    font-size: 10px;
    line-height: 24px;
    font-weight: 600;
}


td.text_content_center {
    text-align: center;
    line-height: 24px;
    /*    padding-top: 14px;*/
}

tr.tr_text_content_center {
    text-align: center !important;
    line-height: 24px;
}

ul {
    margin-bottom: 0 !important;
}


.text_list {
    line-height: 24px;
/*    margin-bottom: 0 !important;*/
}


