{% load static %}
<style>
    .nav-link {
        color: inherit;
    }

    .nav-link.focus,
    .nav-link.active,
    .nav-link:hover {
        color: #ff9000;
    }

    .nav-link {
        transition: color 0.3s, background-color 0.3s;
    }
</style>

<div class="sidebar border border-left col-md-3 col-lg-2 p-0">
    <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="sidebarMenu"
         aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <!--                    <p>Active page: {{ active_page }}</p>-->
                    <a class="nav-link d-flex align-items-center gap-2 {% if active_page == 'dashboard' %}active{% endif %}"
                       data-toggle="tab" aria-current="page"
                       href="{% url 'mailing:dashboard' %}">
                        <svg class="bi">
                            <use xlink:href="#house-fill"/>
                        </svg>
                        Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 {% if active_page == 'mailing_list' %}active{% endif %}"
                       data-toggle="tab"
                       href="{% url 'mailing:mailing_list' %}">
                        <svg class="bi">
                            <use xlink:href="#file-earmark"/>
                        </svg>
                        Рассылки
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 {% if active_page == 'message_list' %}active{% endif %}"
                       data-toggle="tab"
                       href="{% url 'mailing:message_list' %}">
                        <svg class="bi">
                            <use xlink:href="#file-earmark"/>
                        </svg>
                        Письма
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 {% if active_page == 'client_list' %}active{% endif %}"
                       data-toggle="tab"
                       href="{% url 'mailing:client_list' %}">
                        <svg class="bi">
                            <use xlink:href="#people"/>
                        </svg>
                        Клиенты
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 {% if active_page == 'log_list' %}active{% endif %}"
                       href="{% url 'mailing:log_list' %}">
                        <svg class="bi">
                            <use xlink:href="#graph-up"/>
                        </svg>
                        Отчеты
                    </a>
                </li>
            </ul>

            <hr class="my-3">

            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'users:profile' user.pk %}">
                        <svg class="bi">
                            <use xlink:href="#gear-wide-connected"/>
                        </svg>
                        Настройки
                    </a>
                </li>
                <li class="nav-item">
                    <form action="{% url 'users:logout' %}" method="post">
                        {% csrf_token %}
                        <button class="nav-link d-flex align-items-center gap-2" type="submit">
                            <svg class="bi">
                                <use xlink:href="#door-closed"/>
                            </svg>
                            Выйти
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

