{% extends "main/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Главная' %}</a>
    &rsaquo; {% translate 'Пароль сброшен' %}
</div>
{% endblock %}

{% block content %}
<div class="card text-center">
    <div class="mb-3 mt-3">
        <h5 class="font-weight-light my-4 text-center">Вы установили новый пароль. Теперь вы можете войти в свой
            аккаунт</h5>


        <a href="{% url 'users:login' %}">
            <button type="submit" class="btn btn-warning">Войти</button>
        </a><br>
    </div>
</div>
{% endblock %}
