{% extends 'main/base.html' %}

{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                        <h5 class="font-weight-light my-4 text-center">Мы отправили на ваш Email инструкцию по сбросу пароля</h5>
                         <p class="text-center">Проверьте ваш Email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
