{% extends 'main/base.html' %}

{% block content %}

<div class="container w-75 text-center">
    <dΩiv class="row justify-content-center">
        <div class="col-6">
            <div class="card-header"></div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if not user.is_authenticated %}
                    <button type="submit" class="btn btn-success my-3 mx-1">Зарегистрироваться</button>
                    {% else %}
                    <button type="submit" class="btn btn-success my-3 mx-1">Сохранить</button>
                    <a href="{% url 'users:profile' user.pk %}" class="btn btn-warning my-3 mx-1">Назад</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </dΩiv>
</div>
{% endblock %}