{% extends 'main/base.html' %}
{% block content %}
<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="row justify-content-center">
            <div class="col-lg-8 px-0 text-center">
                <h3 class="mb-4">Запрашиваемая страница недоступна для вас с текущими правами</h3>
                <span class="display-9">
                    Если вы уверены, что хотите получить доступ к этой странице,
                    то смените аккаунт или запросите права доступа у администратора
                </span>
                <p class="mt-4">
                    <a href="{% url 'users:login' %}" class="btn btn-outline-success btn-sm">Сменить аккаунт</a>
                </p>
                {% if user.is_staff or user.is_superuser %}
                <a href="{% url 'mailing:moderator_dashboard' %}" class="btn btn-warning btn-sm" style="text-decoration: none;">Вернуться
                    назад</a>
                {% else %}
                <a href="{% url 'mailing:dashboard' %}" class="btn btn-warning btn-sm" style="text-decoration: none;">Вернуться
                    назад</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}