{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<main class="container">

    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="row mb-2">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">ТОП ЛУЧШИХ РАССЫЛОК ЗА ЭТУ НЕДЕЛЮ</h1>
            <p class="lead my-3">Мы выбрали лучшее из лучшего. Узнайте, какие рассылки попали в наш список!</p>
            <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Читать....</a></p>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
            <svg class="bd-placeholder-img w-100" width="500" height="330" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <title>Placeholder</title>

                <image width="100%" height="100%" xlink:href="{% static 'images/site_images/img4.jpg' %}"/>
            </svg>
        </div>
    </div>
</div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">БИЗНЕС</strong>
                    <h3 class="mb-0">Секреты успеха</h3>
                    <div class="mb-1 text-body-secondary">МАЙ '24</div>
                    <p class="card-text mb-auto">Повышаем эффективность. Советы от
                        профессионалов, обучающие материалы и эксклюзивные акции</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        Читать....
                        <svg class="bi">
                            <use xlink:href="#chevron-right"/>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <image width="100%" height="100%" xlink:href="{% static 'images/site_images/img1.jpg' %}"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success-emphasis">ОБРАЗОВАНИЕ</strong>
                    <h3 class="mb-0">Гранит науки</h3>
                    <div class="mb-1 text-body-secondary">ИЮНЬ '24</div>
                    <p class="mb-auto">Делимся информацией о курсах и мастер-классах и даем советы
                        по
                        планированию своего образования.</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        Читать....
                        <svg class="bi">
                            <use xlink:href="#chevron-right"/>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <image width="100%" height="100%" xlink:href="{% static 'images/site_images/img2.jpg' %}"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                ТОЧКА ВХОДА
            </h3>

            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">Лучшие практики email-маркетинга для малого
                    бизнеса</h2>
                <p class="blog-post-meta">Июнь 1, 2024 <a href="#">Мурзик Вездепухович</a></p>

                <p>Email-маркетинг — один из самых эффективных способов взаимодействия с клиентами и продвижения
                    товаров
                    и услуг для малого бизнеса. В этой статье мы рассмотрим лучшие практики email-маркетинга,
                    которые
                    помогут вам увеличить продажи и укрепить лояльность клиентов.</p>
                <hr>
                <p>
                </p>
                <h3>Персонализация контента.</h3>
                <p>Современные инструменты email-маркетинга позволяют сегментировать аудиторию и предоставлять
                    каждому
                    клиенту уникальное содержание, основанное на его предпочтениях, истории покупок и поведении на
                    сайте.</p>
                <blockquote class="blockquote">
                    <h3>Долгосрочные отношения с клиентами.</h3>
                </blockquote>
                <p>Рассылки позволяют поддерживать постоянный контакт с клиентами, напоминая о новых товарах, акциях
                    или
                    предоставляя полезную информацию. Это способствует повторным покупкам и укреплению
                    лояльности.</p>
                <h3>Аналитика.</h3>
                <p>Почти все аспекты email-маркетинга можно измерить: от показателей открытия писем и кликабельности
                    до
                    конверсии и генерации дохода. Это ценная информация для оптимизации будущих кампаний.</p>
                <h5>Примеры успешных email-кампаний:</h5>
                <ul>
                    <li>Mailigen увеличил коэффициент открытия писем с 20% до 29% за счёт повторного отправления
                        писем
                        клиентам, которые не открыли их в первый раз.
                    </li>
                    <li>Интернет-магазин одежды использовал сезонные рассылки для привлечения внимания клиентов к
                        распродажам и акциям, увеличивая эффективность email-маркетинга.
                    </li>
                </ul>
                <p>Следуя этим практикам и примерам, вы сможете создать эффективную email-стратегию для вашего
                    малого
                    бизнеса и достичь успеха в продвижении товаров и услуг.</p>
                <h3>Топ лучших практик:</h3>
                <ol>
                    <li>Создайте корпоративный домен для отправки рассылки.</li>
                    <li>Отправляйте рассылки с одинаковой регулярностью, оптимально — одно письмо в неделю.</li>
                    <li>Эффективно используйте тему и прехедер письма, применяйте интригу, описание выгоды или
                        провокацию.
                    </li>
                </ol>
                <h3>Соблюдайте правила:</h3>
                <ul>
                    <li>Обязательно сегментируйте базу подписчиков по различным критериям, таким как геология, пол,
                        возраст и интересы.
                    </li>
                    <li>Создавайте интересный и разнообразный контент, используйте геймификацию, тесты и интерактив.
                    </li>
                    <li>Дайте пользователям возможность легко отписаться от рассылки, сделайте отписку быстрой и
                        удобной.
                    </li>
                </ul>
                <h2>Анонсы мероприятий</h2>
                <p>Информируйте клиентов о предстоящих событиях, таких как вебинары, конференции или презентации
                    продуктов.
                    Настраиваем коммуникацию с клиентом. <a
                            href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Soft-скиллы не роскошь,
                        а
                        привилегия</a>.
                </p>
                <ul>
                    <li><strong>Обзоры продуктов</strong></li>
                    <li><strong>Информационные бюллетени</strong></li>
                    <li><strong>Обратная связь</strong></li>
                </ul>
                <p>Предлагайте читателям подписаться на ваш блог, чтобы получать регулярные обновления и
                    новости.</p>
                <h2>Встречи</h2>
                <p>Информируйте клиентов о предстоящих событиях, таких как вебинары, конференции или презентации
                    продуктов.</p>
                <h3>Акции и скидки</h3>
                <p>Регулярно сообщайте о текущих акциях и скидках, чтобы стимулировать покупки.</p>
                <h3>Отзывы</h3>
                <p>Делитесь отзывами и обзорами ваших товаров или услуг, чтобы помочь клиентам сделать выбор.</p>
            </article>

            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">РАССЫЛКИ</h2>
                <p class="blog-post-meta">Апрель 23, 2024 <a href="#">Мурка Хоба-Кусь</a></p>

                <p>Мощный маркетинговый инструмент для повышения лояльности клиентов и увеличения продаж. Существуют
                    разные виды рассылок: продающие, контентные, реактивационные и триггерные. Чтобы рассылки были
                    эффективными, отправляйте релевантные письма, сегментируйте аудиторию и делайте письма визуально
                    привлекательными.</p>
                <blockquote>
                    <p>Преимущества рассылок включают высокую эффективность, возможность персонализации сообщений и
                        построение долгосрочных отношений с клиентами. Рассылки также помогают демонстрировать
                        экспертность и возвращать ушедших клиентов.</p>
                </blockquote>

                <h3>Рассылки помогают обучению благодаря следующим преимуществам:</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Преимущество</th>
                        <th>ЗА</th>
                        <th>ПРОТИВ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Целевая аудитория</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Персонализация</td>
                        <td>4</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Регулярное взаимодействие</td>
                        <td>7</td>
                        <td>2</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>Удобный формат</td>
                        <td>21</td>
                        <td>3</td>
                    </tr>
                    </tfoot>
                    <tr>
                        <td>Мгновенная доставка</td>
                        <td>21</td>
                        <td>3</td>
                    </tr>
                </table>

                <p>Email позволяет быстро доставлять информацию прямо в почтовый ящик получателя, который может
                    открыть
                    и прочитать письмо в любое удобное время и месте.</p>
            </article>

            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">DJANGO "освобожденный"</h2>
                <p class="blog-post-meta">Февраль 14, 2024 <a href="#">Барсик Жор Ту Жур (француз)</a></p>

                <p>Django — это фреймворк для веб-разработки на языке Python, который предоставляет инструменты для
                    создания почтовых рассылок.
                    Он включает в себя систему аутентификации пользователей, механизмы кэширования и инструменты для
                    работы с периодическими задачами.</p>
                <h5>Для реализации почтовых рассылок с помощью Django Python используйте следующие инструменты и
                    подходы:</h5>
                <ul>
                    <li>Django Forms: для создания форм для редактирования и создания рассылок.</li>
                    <li>Django Admin: для удобного управления рассылками через административный интерфейс.</li>
                    <li>Django Cache Framework: для оптимизации производительности и ускорения обработки данных.
                    </li>
                    <li>Django Celery: для выполнения периодических задач, таких как отправка писем по расписанию.
                    </li>
                    <li>Django Cron: для автоматизации запуска задач по расписанию.</li>
                </ul>
                <p>Используя эти инструменты, вы сможете создать эффективный и масштабируемый сервис почтовых
                    рассылок
                    на базе Django Python.</p>
            </article>

            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary rounded-pill" href="#">НАЗАД</a>
                <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">ВПЕРЕД</a>
            </nav>

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">О НАС</h4>
                    <p class="mb-0">Мы - команда профессиональных мар<strong>котологов</strong> под руководством Василия Рыбов
                        Любовича</p>
                </div>

                <div>
                    <h4 class="fst-italic">ПОСЛЕДНИЕ ПУБЛИКАЦИИ</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                               href="#">
                                <svg class="bd-placeholder-img" width="100%" height="96"
                                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                     preserveAspectRatio="xMidYMid slice" focusable="false">
<!--                                    <rect width="100%" height="100%" fill="#777"/>-->
                                    <image width="100%" height="100%"
                                           xlink:href="{% static 'images/site_images/img7.jpg' %}"/>
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0">Гибкость и масштабируемость.</h6>
                                    <small class="text-body-secondary">МАЙ 15, 2024</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                               href="#">
                                <svg class="bd-placeholder-img" width="100%" height="96"
                                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                     preserveAspectRatio="xMidYMid slice" focusable="false">
<!--                                    <rect width="100%" height="100%" fill="#777"/>-->
                                    <image width="100%" height="100%"
                                           xlink:href="{% static 'images/site_images/img10.jpeg' %}"/>
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0">Интеграция с маркетинговыми каналами.</h6>
                                    <small class="text-body-secondary">МАЙ 14, 2024</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                               href="#">
                                <svg class="bd-placeholder-img" width="100%" height="96"
                                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                     preserveAspectRatio="xMidYMid slice" focusable="false">
<!--                                    <rect width="100%" height="100%" fill="#777"/>-->
                                    <image width="100%" height="100%"
                                           xlink:href="{% static 'images/site_images/img6.jpg' %}"/>
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0">Как увеличить конверсию с помощью email-маркетинга?</h6>
                                    <small class="text-body-secondary">МАЙ 13, 2024</small>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">АРХИВ</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">АПРЕЛЬ 2024</a></li>
                        <li><a href="#">МАРТ 2024</a></li>
                        <li><a href="#">ФЕВРАЛЬ 2024</a></li>
                        <li><a href="#">ЯНВАРЬ 2024</a></li>
                        <li><a href="#">ДЕКАБРЬ 2023</a></li>
                        <li><a href="#">НОЯБРЬ 2023</a></li>
                        <li><a href="#">ОКТЯБРЬ 2023</a></li>
                        <li><a href="#">СЕНТЯБРЬ 2023</a></li>
                        <li><a href="#">АВГУСТ 2023</a></li>
                        <li><a href="#">ИЮЛЬ 2023</a></li>
                        <li><a href="#">ИЮНЬ 2023</a></li>
                        <li><a href="#">МАЙ 2023</a></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">МЫ В СОЦСЕТЯХ</h4>
                    <p class="fst-italic">[Нет. У нас лапки и GitHub]</p>
                    <ol class="list-unstyled">
                        <li><a href="https://github.com/SpriteSpirit/coursework_6" class="btn active">GitHub</a></li>

                    </ol>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}
