{% extends 'main/base.html' %}
{% load static %}
{% block content %}

{% include 'mailing_service/includes/inc_head.html' %}
<body>
{% include 'mailing_service/includes/inc_icons.html' %}
<div class="container-fluid">
    <div class="row">
        {% include 'mailing_service/includes/inc_inner_menu.html' %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">КЛИЕНТЫ</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Поделиться</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Экспорт</button>
                    </div>
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
                        <svg class="bi">
                            <use xlink:href="#calendar3"/>
                        </svg>
                        Календарь
                    </button>
                </div>
            </div>

            <h2>Все клиенты</h2>
            <div class="table-responsive small">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Email</th>
                        <th scope="col">Сообщение</th>
                        <th scope="col">Комментарий</th>
                        <th scope="col">Дата отправки</th>
                    </tr>
                    </thead>
                    {% for object in object_list %}
                    <tbody>
                    <tr>
                        <td>{{ object.pk }}</td>
                        <td>{{ object.email }}</td>
                        <td>{{ object.is_active }}</td>
                        <td>{{ object.comment }}</td>
                        <td>{{ object.is_active }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>


<script src="{% static 'js/bootstrap.bundle.min.js' %}"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

<script src="{% static 'js/chart.umd.min.js' %}"
        integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
        crossorigin="anonymous"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

</body>
{% endblock %}
