{% extends 'main/base.html' %}
{% load static %}
{% block content %}

{% include 'mailing_service/includes/inc_head.html' %}
{% include 'mailing_service/includes/inc_icons.html' %}
<div class="row">
    {% include 'mailing_service/includes/inc_inner_menu.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title }}</h1>
                <a class="btn btn-success" href="{% url 'mailing:create_client' %}" role="button" aria-disabled="true">Добавить клиента</a>
        </div>

        <h2>Все клиенты</h2>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Ф.И.О.</th>
                    <th scope="col">Email</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col">Настройки</th>
                </tr>
                </thead>
                {% for object in object_list %}
                <tbody>
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ object.name }}</td>
                    <td>{{ object.email }}</td>
                    <td>{{ object.comment }}</td>
                    <td>
                         <div class="btn-group btn-group-sm" role="group" aria-label="Группа маленьких кнопок">
                            <a href="{% url 'mailing:view_client' object.pk %}" class="btn btn-info"
                               role="button">View</a>
                              <a href="{% url 'mailing:update_client' object.pk %}" class="btn btn-warning"
                               role="button">Edit</a>
                              <a href="{% url 'mailing:delete_client' object.pk %}" class="btn btn-danger"
                               role="button">Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>

{% endblock %}
