{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

{% include 'mailing_service/includes/inc_head.html' %}
{% include 'mailing_service/includes/inc_icons.html' %}


<div class="row">
    {% include 'mailing_service/includes/inc_inner_menu.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title }}</h1>
            <a class="btn btn-success" href="{% url 'mailing:create_client' %}" role="button"
               aria-disabled="true">Добавить клиента</a>
        </div>

        <h2>Все клиенты</h2>
        <div class="table-responsive small">
            <table class="table table-bordered table-sm">
                <thead>
                <tr class="tr_text_content_center">
                    <th scope="col">№</th>
                    <th scope="col">Ф.И.О.</th>
                    <th scope="col">Email</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col">Активность</th>
                    {% if user.is_staff or user.is_superuser %}
                    <th scope="col">Пользователь</th>
                    {% endif %}
                    <th scope="col">Настройки</th>
                </tr>
                </thead>
                {% for client in object_list %}
                <tbody>
                <tr class="align-middle">
                    <td class="text_content_center">{{ forloop.counter }}</td>
                    <td class="text_content">
                        <p class="mx-2 mb-0">{{ client.name }}</p>
                    </td>
                    <td class="text_content">
                        <p class="mx-2 mb-0">{{ client.email }}</p>
                    </td>
                    <td class="text_content">{{ client.comment }}</td>
                    {% if client.is_active %}
                    <td class="text_content_center text-success">{{ client.is_active|translate_activity }}</td>
                    {% else %}
                    <td class="text_content_center text-danger">{{ client.is_active|translate_activity }}</td>
                    {% endif %}
                    {% if user.is_staff or user.is_superuser %}
                    <td class="text_content">{{ client.user }}</td>
                    {% endif %}
                    <td class="text_content_center">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Группа маленьких кнопок">
                            <a href="{% url 'mailing:view_client' client.pk %}"
                               class="btn btn-secondary text_button"
                               role="button">Смотреть</a>
                            {% if not user.is_staff %}
                            <a href="{% url 'mailing:update_client' client.pk %}"
                               class="btn btn-warning text_button"
                               role="button">Изменить</a>
                            <a href="{% url 'mailing:delete_client' client.pk %}"
                               class="btn btn-danger text_button"
                               role="button">Удалить</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>

{% endblock %}
