{% extends 'main/base.html' %}
{% load static %}
{% block content %}

{% include 'mailing_service/includes/inc_head.html' %}
{% include 'mailing_service/includes/inc_icons.html' %}


<div class="row">
    {% include 'mailing_service/includes/inc_inner_menu.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">ЛИЧНЫЙ КАБИНЕТ</h1>
        </div>

<!--        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->

        <h2>Выполненные рассылки</h2>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Ф.И.О.</th>
                    <th scope="col">Email</th>
                    <th scope="col">Сообщение</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Настройки</th>
                </tr>
                </thead>
                {% for object in object_list %}
                <tbody>
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ object.name }}</td>
                    <td>{{ object.email }}</td>
                    <td>{{ message_subject }}</td>
                    <td>{{ send_data }}</td>
                    <td>{{ status }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Группа маленьких кнопок">
                            <button type="button" class="btn btn-info">View</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
<!--</div>-->
{% endblock %}
