{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

{% include 'mailing_service/includes/inc_head.html' %}
{% include 'mailing_service/includes/inc_icons.html' %}


<div class="row">
    {% include 'mailing_service/includes/inc_inner_menu.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">ЛИЧНЫЙ КАБИНЕТ</h1>
        </div>

        <!--        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->

        <h2>Выполненные рассылки</h2>
        <div class="table-responsive small">
            <table class="table table-bordered table-sm">
                <thead>
                <tr style="text-align: center;">
                    <th scope="col">№</th>
                    <th scope="col">Сообщение</th>
                    <th scope="col">Клиент</th>
<!--                    <th scope="col">Статус</th>-->
                    <th scope="col">Настройки</th>
                </tr>
                </thead>
                {% for mailing in mailing_list %}
                <tbody>
                <p>{{ mailing }}</p>
                <tr class="align-middle">
                    <td class="text_content text-center">{{ forloop.counter }}</td>
                    <td class="text_content">
                        <p class="mx-2 mb-0">{{ mailing.message.message_subject }}</p>
                    </td>
                    <td class="text_content">
                        {% for client in client_list %}
                        <ul>
                            <li class="text_content">{{ client.name }} <span class="text-success">[{{ client.email }}]</span> </li>
                        </ul>
                        {% endfor %}
                    </td>
<!--                    <td class="text_content">{{ status|translate_status }}</td>-->
                    <td class="text_content_center">
                        <div class="btn-group btn-group-lg">
                            <button type="button" class="btn btn-outline-secondary text_button">Смотреть</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
<!--</div>-->
{% endblock %}
