{% extends 'main/base.html' %}
{% load static %}
{% block content %}

{% include 'mailing_service/includes/inc_head.html' %}
{% include 'mailing_service/includes/inc_icons.html' %}

<div class="row">
    {% include 'mailing_service/includes/inc_inner_menu.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title }}</h1>
        </div>
        <h2>Все статусы рассылок</h2>
        <div class="table-responsive small">
            <table class="table table-bordered table-sm">
                <thead>
                <tr class="tr_text_content_center">
                    <th scope="col">№</th>
                    <th scope="col">Рассылка</th>
                    <th scope="col">ID</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Клиент</th>
                    {% if user.is_staff or user.is_superuser %}
                    <th scope="col">Пользователь</th>
                    {% endif %}
                    <th scope="col">Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for info in info_client %}
                <tr class="{% if info.log.status == 'success' %}table-success{% elif info.log.status == 'failed' %}table-danger{% endif %} text_align">
                    <td class="text_content_center">{{ forloop.counter }}</td>
                    <td class="text_content">{{ info.mailing.message.message_subject|truncatewords:5 }}</td>
                    <td class="text_content">[#{{ info.mailing.pk }}]</td>
                    <td class="text_content">{{ info.log.date_time }}</td>
                    <td class="text_content">{{ info.client }}</td>
                    {% if user.is_staff or user.is_superuser %}
                    <td class="text_content_center">{{ info.mailing.user }}</td>
                    {% endif %}
                    <td class="text_content">{{ info.log.status }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>


{% endblock %}
