{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

{% include 'mailing_service/includes/inc_head.html' %}
{% include 'mailing_service/includes/inc_icons.html' %}

<div class="row">
    {% include 'mailing_service/includes/inc_inner_menu.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title }}</h1>
            <a class="btn btn-outline-success" href="{% url 'mailing:create_mail' %}" role="button"
               aria-disabled="true">Создать
                рассылку</a>
        </div>
        <h2>Все рассылки</h2>
        <div class="table-responsive small">
            <table class="table table-bordered table-sm">
                <thead>
                <tr class="tr_text_content_center">
                    <th scope="col">№</th>
                    <th scope="col">Дата старта</th>
                    <th scope="col">Дата окончания</th>
                    <th scope="col">Тема</th>
                    <th scope="col">Периодичность</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Настройки</th>
                </tr>
                </thead>
                {% for mail in mailing_list %}
                <tbody>
                <tr>
                    <td class="text_content_center">{{ forloop.counter }}</td>
                    <!--                    <td class="text_content"><h5>{{ user.is_staff }}</h5></td>-->
                    <td class="text_content">{{ mail.first_send }}</td>
                    <td class="text_content">{{ mail.finish_send }}</td>
                    <td class="text_content">{{ mail.message.message_subject|truncatewords:10 }}</td>
                    <td class="text_content">{{ mail.periodicity|translate_periodicity }}</td>
                    <td class="text_content">{{ mail.status|translate_status }}</td>
                    <td class="text_content_center">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Группа маленьких кнопок">

                            <!--                        <div class="btn-group btn-group-sm">-->
                            <a href="{% url 'mailing:view_mail' mail.pk %}"
                               class="btn btn-secondary text_button"
                               role="button">Смотреть</a>
                            {% if not user.is_staff %}
                            <a href="{% url 'mailing:update_mail' mail.pk %}"
                               class="btn btn-warning text_button"
                               role="button">Изменить</a>
                            <a href="{% url 'mailing:delete_mail' mail.pk %}" class="btn btn-danger text_button"
                               role="button">Удалить</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>


{% endblock %}
