{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

{% include 'mailing_service/includes/inc_head.html' %}
{% include 'mailing_service/includes/inc_icons.html' %}

<main class="row">
    {% include 'mailing_service/includes/inc_inner_menu.html' %}

    <div class="col-md-6 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ title }}</h1>
        </div>
        <h2 class="mb-3 text-warning">Информационная панель</h2>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <h6 class="mt-2 text-secondary">Сводка за все время</h6>
                <hr>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="state">
                                    <h6 class="text-info">Рассылки</h6>
                                    <h2 class="text-center">{{ total_mailings }}</h2>
                                </div>
                                <div class="icon">
                                    <i class="ik ik-award"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="state">
                                    <h6 class="text-info">Сообщения</h6>
                                    <h2 class="text-center">{{ total_messages }}</h2>
                                </div>
                                <div class="icon">
                                    <i class="ik ik-thumbs-up"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="state">
                                    <h6 class="text-info">Клиенты</h6>
                                    <h2 class="text-center">{{ total_clients }}</h2>
                                </div>
                                <div class="icon">
                                    <i class="ik ik-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="state">
                                    <h6 class="text-info">Пользователи</h6>
                                    <h2 class="text-center">{{ total_users }}</h2>
                                </div>
                                <div class="icon">
                                    <i class="ik ik-message-square"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="state">
                                    <h6 class="text-info">Публикации</h6>
                                    <h2 class="text-center">{{ total_blogs }}</h2>
                                </div>
                                <div class="icon">
                                    <i class="ik ik-message-square"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-md-6 col-sm-9 p-1">
                                    <h3 class="card-title">Пользователи</h3>
                                    <h6 class="card-title">Топ стран</h6>
                                    <div id="visitfromworld" style="width:100%; height:100%">
                                        <!--                                        <div class="jvectormap-container m-0" style="background-color: transparent;">-->
                                        <img src="{% static 'images/site_images/world_map.svg' %}">
                                        <!--                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="row mb-2">
                                        <div class="col-9">{{ country_1 }}</div>
                                        <div class="col-3 text-right">{{ percent_1 }}%</div>
                                        <div class="col-12">
                                            <div class="progress progress-sm mt-2">
                                                <div class="progress-bar bg-green" role="progressbar"
                                                     style="width: {{ percent_1 }}%"
                                                     aria-valuenow="{{ percent_1 }}" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-9">{{ country_2 }}</div>
                                        <div class="col-3 text-right">{{ percent_2 }}%</div>
                                        <div class="col-12">
                                            <div class="progress progress-sm mt-2">
                                                <div class="progress-bar bg-green" role="progressbar"
                                                     style="width: {{ percent_2 }}%"
                                                     aria-valuenow="{{ percent_2 }}" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-9">{{ country_3 }}</div>
                                        <div class="col-3 text-right">{{ percent_3 }}%</div>
                                        <div class="col-12">
                                            <div class="progress progress-sm mt-2">
                                                <div class="progress-bar bg-green" role="progressbar"
                                                     style="width: {{ percent_3 }}%"
                                                     aria-valuenow="{{ percent_3 }}" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Публикации</h3>
                            <h6 class="card-title">Топ-3</h6>
                            <div class="chart-area text-left m-0">
                                {% for blog in blogposts %}
                                <hr class="pb-1 mb-1">
                                <strong class="text-primary">{{ forloop.counter }} : </strong>
                                <a href="{% url 'blogs:detail_blog' blog.slug %}" class="text-secondary"
                                   style="text-decoration: none;">
                                    {{ blog }}
                                </a>
                                <hr class="pb-1 mb-1">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}